@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Outfit;
    background-color: #181818;
    color: peachpuff;
    text-align: center;
}

p {
    font-size: 50px;
}