@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Outfit;
    background-color: #181818;
    color: peachpuff;
    text-align: center;
}

.yes {
    margin-top: 100px ;
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .yes {
        animation: App-logo-spin infinite 0.35s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

p {
    font-size: 50px;
}